<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.title}}</title>
  <meta name="author" content="{{site.author}}" />
  <meta name="description" content="Learn about my life with my timeline!"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <script async defer data-domain="{{ site.github.owner_name }}.{{ site.github.repository_name }}" src="https://plausible.io/js/script.outbound-links.js"></script>
  <style>
    {% include main.css %}
  </style>
</head>
<body>

{{ content }}

</body>
</html>
