<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.title}}</title>
  <meta name="author" content="{{site.author}}" />
  <meta name="description" content="Learn about my life with my timeline!"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>
<body>

{{ content }}

</body>
</html>
